# MacOS files
**/.DS_Store
# Ignore Mosquitto runtime data
mosquitto/data/
mosquitto/log/
*.db
*.log
# Ignore Mosquitto runtime files
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log

# PlatformIO specific
.pio/
.pioenvs/
.piolibdeps/

# VS Code & IDE specific
.vscode/
.clang_complete
.gcc-flags.json

# Build artifacts and temp files
bin/
build/
*.pyc

# Local/Secret files (if you use custom environment variables)
*.ini.local
_db_publisher_app/published_modules.json
